<!-- Modal -->
<div class="modal fade" id="aboutUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">BadmintonFans 網站介紹</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>使用工具</p>
        <ul>
          <li>Bootstarp 5 : twitter釋出的前端框架，可快速搭建響應式網頁</li>
          <li>Express.js : 運行在node.js上的後端框架</li>
          <li>MySQl: 本作使用的DBMS, 主要使用<strong>Sequelize</strong>作為與資料庫溝通的ORM</li>
          <li>Passport.js: 驗證系統套件，網站上除了本地登入機制外也支持Facebook及Google登入</li>
        </ul>
      </div>
      <div class="modal-footer">
        <nav class="me-auto" aria-label="...">
          <ul class="pagination pagination-sm">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
          </ul>
        </nav>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>