<!-- Modal -->
<div class="modal fade" id="aboutUs" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">BadmintonFans 網站介紹</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>使用工具/技術</p>
        <ul>
          <li>Bootstarp 5 : twitter釋出的前端框架，可快速搭建響應式網頁</li>
          <li>Handlebars: 樣板引擎，將樣板檔案轉換成 HTML 檔案</li>
          <li>Express.js : 運行在node.js上的後端框架</li>
          <li>MySQL: DBMS, 在後端中使用<strong>Sequelize</strong>作為與資料庫溝通的ORM</li>
          <li>Passport.js: 驗證系統套件，串接第三方登入(Facebook & Google)</li>
          <li>Multer: 處理檔案上傳</li>
          <li>Imgur: 圖片儲存空間</li>
          <li>佈署於Heroku(PaaS)</li>
          <li>Restful API路由撰寫風格</li>
          <li>採Model-View-Controller(MVC)設計架構</li>
        </ul>
      </div>
      <div class="modal-footer justify-content-between">
        <span class=""> 點擊 about us 再次開啟視窗</span>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>