<section id="sidebar" class="w-25">
  <form action="">
    <h6 class="p-1 border-bottom">Filter By</h6>
    <p class="mb-2">地區</p>
      <select class="form-select border-bottom" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    <p class="mb-2"></p>
  </form>

</section>