<div class="container-fluid" id="discussion">
  <div class="row vh-100">
    {{!-- side bar --}}
    <div class="col-2 p-1 side-bar">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="/forum?category=equipment" class="nav-link" aria-current="page">
            裝備討論<span style="font-size: 10px;">(球拍、球鞋、球線、握把)</span>
          </a>
        </li>
        <li>
          <a href="/forum?category=injury" class="nav-link link-dark">
            運動傷害防護
          </a>
        </li>
        <li>
          <a href="/forum?category=technique" class="nav-link link-dark">
            技術討論
          </a>
        </li>
        <li>
          <a href="/forum?category=chat" class="nav-link link-dark">
            羽球雜談
          </a>
        </li>
        <li>
          <a href="/forum?category=trade" class="nav-link link-dark">
            二手用品交易
          </a>
        </li>
      </ul>
    </div>
    {{!-- certain discussion --}}
    <div class="col-8 p-3" data-bs-spy="scroll">
      <div class="text-center forum-card">
        <div class="card-header">
          This is card header
        </div>
        <div class="card-body d-flex">
          <div class="media col-1">col-1</div>
          <div class="media col-11">col-11</div>
        </div>
        <div class="card-footer text-muted">
          <div class="row">
            <div class="col-8"></div>
            <div class="col-1"> <span style="font-size: 8px"> 2 days ago</span></div>
            <div class="col-1">
              <button class="btn">
                <i class="fa-regular fa-heart"></i>
              </button>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-sm">
                <i class="fa-solid fa-reply"></i> Reply
              </button>
            </div>
          </div>
        </div>
        <div class="seperator" style="background-color: grey; height: 2px"></div>

        <div class="card-body">
          {{#each comments}}
          <div class="row">
            <div class="forum-reply col-1">col-1</div>
            <div class="forum-reply col-11">
              {{this.content}}
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <form action="/forum/discussions/{{discussion.id}}" method="POST">
        <div class="input-group m-3">
          <input type="text" class="form-control input-reply" placeholder="發表回覆" aria-label="Recipient's username"
            aria-describedby="button-addon2" name="comment">
          <button type="submit" class="btn btn-sm">
            <i class="fa-solid fa-reply"></i> Reply
          </button>
        </div>
      </form>
    </div>
  </div>
</div>