<div class="container-fluid" id="discussion">
  <div class="row vh-100">
    {{!-- side bar --}}
    <div class="col-2 p-1 side-bar">
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" aria-current="page">
            裝備討論<span style="font-size: 10px;">(球拍、球鞋、球線、握把)</span>
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            運動傷害防護
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            技術討論
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            羽球雜談
          </a>
        </li>
        <li>
          <a href="#" class="nav-link link-dark">
            二手用品交易區
          </a>
        </li>
      </ul>
    </div>
    <div class="col-9" data-bs-spy="scroll">
      Hello
    </div>
  </div>