
html,body {
  background-color: #f0e9d3;
  height: 100%;
}

.navbar a {
  font-weight: bold;
  color: #f0e9d3 !important;
}

.side-bar .nav-link {
  font-weight: bold;
  color: #475b66 !important;
}
.side-bar .nav-link:hover {
  font-weight: bold;
  color: #566e7b !important;
}

.side-bar {
  border-right: medium solid #475b66 !important;
}


.navbar a:hover {
  color: #cac4b2 !important;
}

#navbar {
  background-color: #475b66 !important;
  height: 10%;
}

.forum-card {
  width: 60rem;
  border-radius: 10px 10px;
  border:solid thin #475b66;
}

#parties td {
  height: large;
  color: #475b66 !important;
}

.outline {
  outline:dashed red thin;
}

/* pagination */

.pagination li a{
  color: #475b66;
  font-weight: 500;
}

.page-item.active .page-link {
  background-color: #cac4b2 !important;
  border-color: #cac4b2 !important;
}

/* #sidebar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 18%;
	overflow: auto;
} */

#end-of-nav {
  font-size: 12px;
}

#signup, #signin {
  background-color: rgb(255, 250, 246);
  border-radius: 5px;
  padding: 5px;
}

.forum-reply {
  border-bottom: #566e7b solid 1px;
}

/* .btn {
  color:#475b66;
} */

.input-reply {
  background-color: rgb(191, 190, 190);
}