body {
  background-color: rgb(232, 212, 212);
  height: 100%;
}

#navbar {
  height: 10%;
}

.forum-card {
  width: 60rem;
  border-radius: 15px 30px;
  border:solid thin;
}

.outline {
  outline:dashed red thin;
}

/* #sidebar {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 18%;
	overflow: auto;
} */

#end-of-nav {
  font-size: 12px;
}

#signup, #signin {
  background-color: rgb(255, 250, 246);
  border-radius: 5px;
  padding: 5px;
}