body {
  background-color: beige;
  height: 100%;
}

#navbar {
}

.forum-card {
  width: 60rem;
  border-radius: 15px 30px;
  border:solid thin;
}

.outline {
  outline:dashed red thin;
}